In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("E:/lang/MOVIE-RECOMMODATION-SYSTEM/MOVIES/Movies/model/data/top10K-TMDB-movies.csv")
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [3]:
movies['title'].head(10)

0       The Shawshank Redemption
1    Dilwale Dulhania Le Jayenge
2                  The Godfather
3               Schindler's List
4         The Godfather: Part II
5              Impossible Things
6                  Spirited Away
7                 Your Eyes Tell
8       Dou kyu sei â€“ Classmates
9                     Your Name.
Name: title, dtype: object

In [4]:
movies[movies['title'] == 'John Wick']

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
1779,245891,John Wick,"Action,Thriller",en,Ex-hitman John Wick comes out of retirement to...,104.505,2014-10-22,7.4,15910

In [5]:
movies[movies['title'] == 'John Wick: Chapter 2']

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
2145,324552,John Wick: Chapter 2,"Thriller,Action,Crime",en,John Wick is forced out of retirement by a for...,140.774,2017-02-08,7.3,10354

In [6]:
movies.size

90000

In [7]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei â€“ Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [10]:
import ast

In [11]:
movies['genre'] = movies['genre'].str.split(', ')
movies['overview'] = movies['overview'].str.split(' ')
movies['title'] = movies['title'].str.split(' ')

In [12]:
movies.head(2)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,"[The, Shawshank, Redemption]","[Drama,Crime]",en,"[Framed, in, the, 1940s, for, the, double, mur...",94.075,1994-09-23,8.7,21862
1,19404,"[Dilwale, Dulhania, Le, Jayenge]","[Comedy,Drama,Romance]",hi,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...",25.408,1995-10-19,8.7,3731

In [13]:
movies['tags'] = movies['genre']+movies['overview']

In [14]:
movies = movies[['id','title','tags']]

In [15]:
movies.head(3)

,id,title,tags
0,278,"[The, Shawshank, Redemption]","[Drama,Crime, Framed, in, the, 1940s, for, the..."
1,19404,"[Dilwale, Dulhania, Le, Jayenge]","[Comedy,Drama,Romance, Raj, is, a, rich,, care..."
2,238,"[The, Godfather]","[Drama,Crime, Spanning, the, years, 1945, to, ..."

In [16]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))
movies['title'] = movies['title'].apply(lambda x:" ".join(x))

In [17]:
movies.head()

,id,title,tags
0,278,The Shawshank Redemption,"Drama,Crime Framed in the 1940s for the double..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance Raj is a rich, carefree, ..."
2,238,The Godfather,"Drama,Crime Spanning the years 1945 to 1955, a..."
3,424,Schindler's List,"Drama,History,War The true story of how busine..."
4,240,The Godfather: Part II,"Drama,Crime In the continuing saga of the Corl..."

In [18]:
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [19]:
# action == actions
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

a = ['love','loving','lovers']

def stem(text):
    data = []
    for i in text.split():
        data.append(ps.stem(i))
    return " ".join(data)

In [20]:
movies['tags'] = movies['tags'].apply(stem)

In [21]:
movies.head()

,id,title,tags
0,278,The Shawshank Redemption,"drama,crim frame in the 1940 for the doubl mur..."
1,19404,Dilwale Dulhania Le Jayenge,"comedy,drama,rom raj is a rich, carefree, happ..."
2,238,The Godfather,"drama,crim span the year 1945 to 1955, a chron..."
3,424,Schindler's List,"drama,history,war the true stori of how busine..."
4,240,The Godfather: Part II,"drama,crim in the continu saga of the corleon ..."

In [22]:
movies.shape

(9985, 3)

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
cv = CountVectorizer(max_features=9985,stop_words="english")
vector = cv.fit_transform(movies['tags']).toarray()

In [25]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zones', 'zoo'], dtype=object)

In [26]:
# we are trying to find the distance between the vectors as Euclian formula is not valid
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
similarity = cosine_similarity(vector)

In [28]:
similarity[0]

array([1.        , 0.20145574, 0.22956556, ..., 0.07484812, 0.27277236,
       0.15152288])

In [29]:
movies[movies['title'] == "Avatar"]

         id   title                                               tags
1289  19995  Avatar  action,adventure,fantasy,sci fiction in the 22...

In [30]:
from fuzzywuzzy import fuzz, process

c:\Users\rahul\AppData\Local\Programs\Python\Python310\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [31]:
def recommendMovie(movieName):
    movie_index = movies[movies['title'] == movieName].index
    if len(movie_index) > 0:
        movie_index = movies[movies['title'] == movieName].index[0]
        distances = similarity[movie_index]
        movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:7]

        for i in movie_list:
            print(movies.iloc[i[0]].title)
    else:
        print("Movie not available :(")

In [32]:
recommendMovie('Batman')

The Batman vs. Dracula
Batman Begins
Angel of Evil
In the Name of the King: A Dungeon Siege Tale
The Dark Knight
The Batman

In [33]:
movies.head()

,id,title,tags
0,278,The Shawshank Redemption,"drama,crim frame in the 1940 for the doubl mur..."
1,19404,Dilwale Dulhania Le Jayenge,"comedy,drama,rom raj is a rich, carefree, happ..."
2,238,The Godfather,"drama,crim span the year 1945 to 1955, a chron..."
3,424,Schindler's List,"drama,history,war the true stori of how busine..."
4,240,The Godfather: Part II,"drama,crim in the continu saga of the corleon ..."

In [34]:
from fuzzywuzzy import fuzz, process

def recommendMovie(movieName):
    # Find similar movie titles using fuzzywuzzy
    similar_titles = process.extract(movieName, movies['title'], limit=5, scorer=fuzz.token_sort_ratio)
    
    recommended_movies = []

    for similar_movie in similar_titles:
        similar_movie_title = similar_movie[0]  # Extract the similar movie title
        movie_index = movies[movies['title'] == similar_movie_title].index
        if len(movie_index) > 0:
            movie_index = movie_index[0]
            distances = similarity[movie_index]
            movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[0:5]

            recommended_movies.extend([movies.iloc[i[0]].title for i in movie_list])

    if recommended_movies:
        return recommended_movies[0:7]
    else:
        return ["Movie not available :("]

# Example usage:
movieName = "John Wick"
recommended_movies = recommendMovie(movieName)
for movie in recommended_movies:
    print(movie)

John Wick
John Wick: Chapter 2
RED 2
The Wild Goose Lake
Blind Fury
John Q
Float

In [35]:
import pickle
pickle.dump(movies,open("movies.pkl","wb"))

In [36]:
pickle.dump(similarity,open("similarity.pkl","wb"))